@use "sass:math";

$tag-size: 10px;
$tag-border-size: 5px;
$arrow-size: 5px;

.tags {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.tag {
	position: absolute;
	pointer-events: auto;
	left: math.div(-$tag-size, 2);
	top: math.div(-$tag-size, 2);

	.tag-handle {
			width: $tag-size;
			height: $tag-size;
			border-radius: 50%;
			background-color: black;
			display: block;
			opacity: 0.8;

		&:before {
			content: "";

			width: $tag-size + 2 * $tag-border-size;
			height: $tag-size + 2 * $tag-border-size;
			border-radius: 50%;
			left: -$tag-border-size;
			top: -$tag-border-size;

			display: block;
			position: absolute;

			opacity: 0.5;
			background-color: inherit;

			transform: scale(1);
		}

		&:focus:before {
			animation: pulse 2s infinite;
		}
	}
	&.react-draggable-dragging .tag-handle:focus:before {
		animation: none;
	}
	&.no-dot {
		width: 0;
		height: 0;
		left: 0;
		top: 0;
	}
}

.tag-tooltip {
	border-radius: 2px;
	border: none;
	background-color: black;
	color: white;
	opacity: 0.8;
	padding: 4px 8px;
	white-space: nowrap;
	text-align: center;
	line-height: 1;
	font-size: 12px;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(calc(-50% + #{math.div($tag-size, 2)}), 100%);
}

@keyframes pulse {
	0% {
		transform: scale(0.75);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.75);
	}
}