/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-tagging-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.tags {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.tag {

	position: absolute;
	pointer-events: auto;
	&:after {
		content: "";
		width: 20px;
		height: 20px;
		left: -10px;
		top: -10px;
	border-radius: 10px;

		display: block;
	background-color: rgba(0,0,0,0.7);
position: relative;
	}
	&.no-dot {
		width: 0;
		height: 0;
		left: 0;
		top: 0;
	}
}